ion-segment-button{--indicator-color: #0377de;}
ion-segment-button.md{--color: #000;--color-checked: #0377de;--indicator-height: 4px;}
ion-segment-button.ios{--color: #0377de;--color-checked: #fff;--border-radius: 20px;}
.ios{font-size: large;}
.p-datatable-tbody tr td,.p-datatable-thead tr th{padding: 1rem;}