.loginlogoImage img {
  width: 20px;
}

.custom-ion-button {
  --background: #0377de;
  --background-hover: #2990eb;
  --background-activated: #2990eb;
  --color: #ffffff;
}

.p-icon-field-right {
  width: 100%;
}

.p-icon-field-right input {
  width: 100%;
}
